
.Prefecture{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(36, 32, 60, 0.2);
    width: 50%;
    height: 200px;
    position: relative;
    left: 25%;
}

form{
    padding: 10px;
}

form h1{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    align-items: unset;
    color: #2b3a4b;
    font-weight: bold;
}

form h3{
    color: #2b3a4b;
    font-weight: bold;
}

form .content{
    display: inline-flex;
    padding: 2%;
    width: 100%;
}

form button{
    border:none;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    background-color: rgba(0, 179, 255, 0.722);
    transition: background-color 0.2s;
}

form button:hover{
    background-color: rgb(2, 128, 183);
}

.searchForm{
    position: absolute;
    left: 10%;
    width: 65%;
    height: 30px;
    border-radius: 10px;
}

.searchButton{
    position: absolute;
    right: 10%;
    width: 50px;
    height: 30px;
}


.NameForm{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(36, 32, 60, 0.2);
    width: 50%;
    height: 200px;
    position: relative;
    left: 25%;
}

.comments{
    position: relative;
    top: 50px;
    left: 25%;
    width: 50%;
    height: auto;
    margin: 10px;
    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(23, 19, 41, 0.20);
}

.comments input{
    border-radius: 4px;
}

.comments .inputText{
    position: relative;
    top: 0%;
    width: 80%;
    height: 80px;
    border-radius: 10px;
}

.comments button{
    position: absolute;
    right: 10%;
    bottom: 5%;
}


.space{
    position: relative;
    height: 100px;
}