

/*"各縣的推薦"のcss*/

.block{
    position: relative;
    text-align: center;
    color: #2b3a4b;
    width: 100%;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
}

.swiper{
    height: 500PX;
    width: 80%;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
}

.swiper-slide img{
    border-radius: 30px;
    display: block;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.block2{
    position: relative;
    width: 80%;
    left: 10%;
    height: 80px;
    font-size: 40px;
}

[class*="exampleSouvenir"]{
    position: relative;
    height: auto;
    width: 100%;
    display: inline-flex;
}

[class*="exampleSouvenir"] img{
    width: 100%;
    height: auto;
    z-index: 1;
}

[class*="exampleSouvenir"] h1{
    top: 0%;
    width: fit-content;
    z-index: 10;
    position: absolute;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgba(240, 248, 255, 0.5);
    margin: 3px;
}

[class*="exampleSouvenir"] h3{
    top: 10%;
    left: 10%;
    width: 40%;
    z-index: 10;
    position: absolute;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgba(240, 248, 255, 0.5);
    margin: 3px;
}

/*commentsのcss*/
.comments{
    position: relative;
    top: 50px;
    left: 25%;
    width: 50%;
    height: 400px;
}

.comments .inputText{
    position: relative;
    top: 0%;
    width: 100%;
    height: 80px;
}



.space100{
    position: relative;
    height: 100px;
}

.space200{
    position: relative;
    height: 200px;
}