
.block{
    position: relative;
    text-align: center;
    color: #2b3a4b;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 80px;
}

.swiper{
    height: 500PX;
    width: 80%;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
}

.swiper-slide img{
    border-radius: 30px;
    display: block;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}


.Souvenir{
    width: 80%;
    height: 400px;
    position: relative;
    left: 10%;
    margin: 40px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.SouvenirInfo{
    position: absolute;
    left: 10%;
    width: 30%;
}

.Souvenir .SouvenirInfo a{
    color: #2b3a4b;
    text-decoration: none;
    width: fit-content;
    transition: color 0.5s;
    padding: 5px;
}

.Souvenir a:hover{
    color: rgb(255, 0, 102);
}

.Souvenir img{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50%;
    height: 350px;
    object-fit: cover;
    padding: 25px;
    border-radius: 40px;
    z-index: 0;
}